* {
  text-align: center;
  font-family: 'Alegreya', serif;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Text', serif;
  display: block;
}

/* navbar */
.navbar {
  display: inline block;
  background-color: #2E334B;
}

.navbar-brand {
  font-family: 'DM Serif Text', serif;
  display: block;
}

.nav-name, .landing-content h1 {
  color: #F1EAE5;
  background-color: #F1EAE5;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(238, 255, 242, 0.9) 0px 0px 5px;
}

.navbar-toggler-icon {
  width: 15px;
  height: 10px;
}

.navbar ul li a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #F1EAE5;
  text-transform: uppercase;
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before {
  transition: all .5s;
}

.navbar ul li a:hover {
  color: #F1EAE5;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: rgba(238, 255, 242, 0.9) 0px 0px 5px;
}

/* stroke effect */
.navbar ul li a {
  position: relative;
}

.navbar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #E19928;
  height: 1px;
}

.navbar ul li a:hover:after {
  width: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li {
  text-decoration: none;
  margin: 0 20px;
  align-items: left;
  /* text-transform: uppercase; */
}

/*
*/
#root {
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("https://i.ytimg.com/vi/ztHPXKJgJUE/maxresdefault.jpg");
}

.page {
  min-height: 100vh;
}

.landing-content {
  color: #F1EAE5;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: auto;
  padding: 15px;
  border: #F1EAE5;
  background: rgba(46, 51, 75, .9);
}

.line {
  width: 75%;
  height: 4px;
  background: #E19928;
  margin: 10px auto;
  border-radius: 5px;
}

.long-line {
  width: 100%;
  height: 2px;
  background:rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  border-radius: 5px;
}

.login-container {
  display: block;
  color: #F1EAE5;
  background-color: rgba(46, 51, 75);
}

.column {
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  background: rgba(241, 234, 229, 0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trip-column {
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  background: rgba(241, 234, 229, 0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#trip-list {
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  background: rgba(241, 234, 229, 0.85);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* button */
.btn, .btn a {
  background-color: #2E334B;
  color: white;
  border: none;
  border-radius: 7px;
  margin: 2px;
  padding: 5px;
  font-size: 1rem;
}


.btn:hover, .btn a:hover{
  transform: translateY(-2px);
  color: #2E334B;
  background-color: #E19928;
  transition: 0.3s ease;
}

/* slideshow */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  margin: 10px auto;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */
.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #E19928;
}

/* saved trips buttons */
.trip-list button {
  all: unset;
  border-radius: 0;
  font-size: 1rem;
  float:left;
  margin: 0px 10px;
}

.trip-table {
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  text-align: justify;
}

.holiday-btn,
.login,
.logout {
  all: unset;
}

/* login and logout button */
.log-box li, .btn.log-btn a {
  list-style: none;
  text-align: right;
  margin: 0px;
  color: #F1EAE5;
}

.btn.log-btn {
  border: solid #F1EAE5;
}

.btn.log-btn a:hover {
  transform: translateY(-2px);
  color: #2E334B;
  transition: 0.3s ease;
}