.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul{
  list-style: none;
}

/* added */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  text-decoration: none;
  margin: 0 20px;
  align-items: left;
}

a:hover {
  text-decoration: underline;
}

.btn:hover {
  background: rgba(253, 253, 253, 0.5);
  transition: 0.3s ease;
}

/*




*/

header {
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(https://cdn.wallpapersafari.com/11/68/D3nhmp.jpg);
  height: 100vh;
}

.header-content {
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}
